* {
  box-sizing: border-box;
}

body {
  height: 1000px;
  background-color: rgba(34, 250, 6, 0.692);
}

.box {
  width: 150px;
  height: 150px;
  padding: 40px;
  border: rgb(0, 0, 0) 5px solid;
  background-color: rgb(255, 255, 255);
  font-size: 45px;
  text-align: center;
}

.content{
    border: rgb(0, 0, 0) 5px solid;

}

#div1{
    position: absolute;
    top: 0px;
    left: 0px;

}

#div2{
    position: absolute;
    top: 0px;
    right: 0px;
}

#div3{
    position: fixed;
    left: 45%;
    bottom: 0%;
}

h1{
  text-align: center;
  padding: 400px;
}